<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadnidate Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="m-5 fs-1 text-center">Candidate detail </h1>
        <hr>
        <table class=" table table-hover mt-5">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Resume/Portfolio Link</th>
                <th>Primary Skills</th>
                <th>Socandry Skills</th>
                <th>Experience</th>
            </tr>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.candidate_name}}</td>
                <td>{{user.resume_portfolio_link}}</td>
                <td> {{user.primary_skills}}</td>
                <td>{{user.secondary_skills}}</td>
                <td>{{user.candidate_experince}}</td>   
            </tr>
    </table>
</div>
</body>
</html>